<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SidGames5</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>SidGames5</h1>
		<div class="pics">
			<img
				src="https://s.namemc.com/2d/skin/face.png?id=fd202be1e6528b88&scale=4"
				alt=""
				width="250pt"
			/>
		</div>
		<div class="bio">
			<h2>About</h2>
			<p><%= locals.bio_sidgames5 %></p>
		</div>
	</body>
</html>
