<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Arch SMP Season <%= locals.sn %> Application
	</title>
</head>

<body>
	<h1>Redirecting...</h1>
	<script>
		window.location.href = "<%= locals.link %>";
	</script>
	<a href="<%= locals.link %>">Click here if you are not redirected</a>
</body>

</html>