ul {
	list-style-type: none;
}

li {
	font-size: 16pt;
	cursor: pointer;
}

* {
	font-family: sans-serif;
}

.green-dot {
	color: green;
}

.blue-dot {
	color: #00aaff;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

a {
	text-decoration: none;
}

img {
	image-rendering: pixelated;
}