<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Arch SMP Stream Day</title>

	<script src="../javascripts/script.js"></script>
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>

	<style>
		.accordion {
			background-color: #eee;
			color: #444;
			cursor: pointer;
			padding: 18px;
			width: 100%;
			border: none;
			text-align: left;
			outline: none;
			font-size: 15px;
			transition: 0.4s;
		}

		.active,
		.accordion:hover {
			background-color: #ccc;
		}

		.panel {
			padding: 0 18px;
			display: none;
			background-color: white;
			overflow: hidden;
		}
	</style>
</head>

<body>
	<h1 id="arch-smp-stream-day">Arch SMP Stream Day</h1>
	<p>Stream Day is an event that takes place every season starting from season 4. This is where all of the players on
		the
		server will livestream on a single day. The way it works is that the first person starts the stream and when the
		stream ends, the next person takes over.</p>
	<h2 id="season-4">Season 4</h2>
	<p>The dates for season 4&#39;s stream day are currently unknown.</p>

</body>

</html>